<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Digital Library - Home</title>
    <link rel="stylesheet" th:href="@{/css/home.css}"/>
</head>
<body>
    <header>
        <h2 class="logo">My Digital Library</h2>

        <nav class="navbar">
            <li sec:authorize="hasAuthority('ADMIN')">
                <a th:href="@{/userlist}">
                    Users
                </a>
            </li>
            <li sec:authorize="hasAuthority('ADMIN')">
                <a th:href="@{/booklist}">
                    Books
                </a>
            </li>
            <li class="last">
                    <div class="user-info">
                        <img th:src="@{/images/user.jpg}" class="user-img"/>
                        <p sec:authentication="principal.username"></p>
                    </div>
                    <form action="#" th:action="@{/logout}" method="GET">
                        <button type="submit" class="logout">Logout</button>
                    </form>
            </li>
        </nav>
    </header>

    <section class="main-container">

        <h3 class="heading">Welcome to My Digital Library!! Search a book you'd like to read...</h3>

        <form action="#" method="GET" th:action="@{/book}">
            <div>
                <input type="text" name="title" th:value="${title}" class="input-box" placeholder="de profundis or something else...?"/>
            </div>
        </form>
    </section>




</body>
</html>