<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login Form</title>
    <link rel="stylesheet"
          th:href="@{/css/login.css}" />
</head>
<body>

    <div class="container">

        <section class="login-container">
            <form action="#" method="POST" th:action="@{/authenticateTheUser}" class="login-form">
                <h2 class="">Login</h2>

                <div th:if="${param.error}">
                    <p class="invalid-error">Invalid username and password</p>
                </div>

                <div th:if="${param.logout}">
                    <p class="logout">User have been logged out.</p>
                </div>

                <div>
                    <input class="input-box" name="username" type="text" placeholder="Enter username..."/>
                </div>

                <div>
                    <input class="input-box" name="password" type="password" placeholder="Enter password..."/>
                </div>

                <div>
                    <button type="submit" class="loginBtn">Login</button>
                </div>

                <p>Not a user?  <a th:href="@{/register}" class="blue">Register.</a></p>
            </form>
        </section>

    </div>

</body>
</html>