<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration - My Digital Library</title>
    <link rel="stylesheet"
          th:href="@{/css/login.css}" />
</head>
<body>

<div class="container">

    <section class="login-container">
        <form action="#" method="POST" class="login-form" th:object="${user}" th:action="@{/saveUser}">
            <h2 class="">Register</h2>

            <div>
                <input class="input-box" th:field="*{username}" type="text" placeholder="Enter username..."/>
            </div>

            <div>
                <input class="input-box" th:field="*{email}" type="text" placeholder="Enter email..."/>
            </div>

            <div>
                <input class="input-box" th:field="*{password}" type="password" placeholder="Enter password..."/>
            </div>

            <div>
                <button type="submit" class="loginBtn">Register</button>
            </div>

            <p>Already a user?  <a th:href="@{/login}" class="blue">Login.</a></p>

        </form>
    </section>

</div>

</body>
</html>