<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Searched - Digital Library</title>
    <link rel="stylesheet" th:href="@{/css/books.css}"/>
</head>
<body>
    <header>
        <h2 class="logo">My Digital Library</h2>

        <nav class="navbar">
            <li>
                <form action="#" th:action="@{/logout}" method="POST">
                    <button type="submit" value="Logout" />
                </form>
            </li>
        </nav>
    </header>

    <section class="book-container">

        <h4>Searched For: <span th:text="${title}"></span></h4>

        <div class="book-info">

            <p>Book id: <span th:text="${book.bookId}"/></p>
            <p>Title: <span th:text="${book.title}"/></p>
            <p>Author: <span th:text="${book.author}"/></p>
            <p>Publisher: <span th:text="${book.publisher}"/></p>
            <p>ISBN: <span th:text="${book.isbn}"/></p>
            <p>Category: <span th:text="${book.category}"/></p>
            <p>Total Copies: <span th:text="${book.totalCopies}"/></p>
            <p>Available Copies: <span th:text="${book.availableCopies}"/></p>

        </div>
    </section>

    <a th:href="@{/}">Back to Home Page</a>

</body>
</html>